{%extends "base.html"%}
{%block content%}
<div class="px-4 py-3 my-2 text-center">
  <div class="col-md-12 mx-auto text-center">
    <h2 class="display-6 fw-bold text-primary">発音診断アプリへようこそ</h2>
    <div class="row">
      <div class="col-4">
        <a href='{{url_for("new_user",page=0)}}'><img src="./static/images/top_btn1.png" alt="お知らせ"
            class="img-fluid"></a>
      </div>
      <div class="col-4">
        <a href='{{url_for("faq",page=0)}}'><img src="./static/images/top_btn2.png" alt="FAQ" class="img-fluid"></a>
      </div>
      <div class="col-4">
        <a href='{{url_for("guideline",page=0)}}'><img src="./static/images/top_btn3.png" alt="FAQ"
            class="img-fluid"></a>
      </div>
    </div>
  </div>
</div>
<br>

<div class="px-4 py-3 my-2 text-center">
  <div class="col-md-12 mx-auto text-center">
    <h1 class="display-6 fw-bold text-primary">CONTENTS</h1>
    <hr>
    <div class="row">
      <div class="col-4 ">
        <a href='{{url_for("script_view",question_no=0)}}'><img src="./static/images/index_btn1.png" alt="ゲームモード"
            class="img-fluid"></a>
      </div>
      <div class="col-4">
        <a href='{{url_for("script_input",question_no=0)}}'><img src="./static/images/index_btn2.png" alt="英文作文モード"
            class="img-fluid"></a>
      </div>
      <div class="col-4 ">
        <form action="./review" method="PUT">
          <input type="hidden" name="question_no" id="question_no" value=0>
          <input type="submit" class="btn btn-primary btn-lg px-4 gap-3" value="振り返り">
        </form>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4 ">
        <a href='{{url_for("information",page=0)}}'><img src="./static/images/index_btn3.png" alt="お知らせ"
            class="img-fluid"></a>
      </div>
      <div class="col-4">
        <a href='{{url_for("consultation",page=0)}}'><img src="./static/images/index_btn4.png" alt="ご意見ご要望"
            class="img-fluid"></a>
      </div>
      <div class="col-4 ">
        <a href="https://www.yahoo.co.jp"><img src="./static/images/index_btn5.png" alt="公式サイト" class="img-fluid"></a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4 ">
        <a href='https://www.twitter.com'><img src="./static/images/index_btn6.png" alt="Twitter" class="img-fluid"></a>
      </div>
      <div class="col-4">
        <a href='https://www.youtube.com/@ddlanguageschool/videos'><img src="./static/images/index_btn7.png" alt="YouTube" class="img-fluid"></a>
      </div>
      <div class="col-4 ">
        <a href='https://www.yahoo.com'><img src="./static/images/index_btn8.png" alt="DDサービス" class="img-fluid"></a>
      </div>
    </div>

    <br>
    <br>
    <hr>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VppRjZAQ91c" title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>

  </div>


  {% endblock %}