{%extends "base.html"%}
{%block content%}
<div class="px-4 py-3 my-2 text-center">
  <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
  <h1 class="display-6 fw-bold text-primary">発音診断アプリへようこそ</h1>
</div>
<div class="col-md-6 mx-auto text-center">
  <form action="./script_view" method="PUT">
    <input type="hidden" name="page" id="page" value=0>
    <input type="submit" class="btn btn-primary btn-lg px-4 gap-3" value="ゲームモード">
  </form>
  <br>

  <form action="./script_view" method="PUT">
    <input type="hidden" name="page" id="page" value=0>
    <input type="submit" class="btn btn-primary btn-lg px-4 gap-3" value="英文作成モード">
  </form>
</div>

{% endblock %}